spring:
  datasource:
    url: jdbc:mysql://localhost:3306/product_order?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: productManager
    password: productPwd
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html